@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #2F3138;
    background-color: #f1f1f1;
    height: 100vh;
}


a {
    color: inherit;
    text-decoration: underline;
}

a:hover{
    color:#101010;
}

.wrapper {
    display: flex;
    padding: 1rem 1rem;
    margin: 2rem 2rem;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
}

.box{
    display: flex;
    padding: 3rem 3rem;
    border-radius: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0.4rem 1rem 0 rgb(0 0 0 / 20%), 0 0.4rem 2rem 0 rgb(0 0 0 / 19%);
    width: 70rem;
}

.profile{
    display: flex;
    align-items: center;
    text-align: left;
    background-color : white;
    gap: 2rem;
    height: 30rem;
}


.profile_left{
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 1rem;
    padding: 1rem;
    width: 16rem;
    height: 100%;
}

.profile_img {
    width: 100%;
    height: fit-content;
    border-radius: 16%;
}

.profile_txt{
    font-size: 20px;
    
    
}

.profile_right{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    height: 100%;

}

.intro {
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    overflow: hidden;
    height: 100vh;
}

.projects{
    padding: 0 1rem;
}


.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #f1f1f1;
    align-items: center;
    width: 16rem;
    height: 14rem;
    overflow: hidden;
    
}

.card_images{
    width: 100%;
    overflow: hidden;
}

.grid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid_title {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}